@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {

	--font-global: "Space Mono", monospace;

	--color-background: #FFF5F5;
	--color-foreground: #000000;
	--color-card: #FFFFFF;
	--color-card-foreground: #000000;
	--color-primary: #000000;
	--color-primary-foreground: #FFFFFF;
	--color-secondary: #6B9AFF;
	--color-secondary-foreground: #000000;
	--color-muted: #F1FAEE;
	--color-muted-foreground: #000000;
	--color-accent: #E63946;
	--color-accent-foreground: #FFFFFF;
	--color-destructive: #E63946;
	--color-border: #000000;
	--color-input: #F1FAEE;
	--color-green: #00FF85;
	--color-blue: #6B9AFF;
	--color-orange: #FF9F66;
	--color-pink: #FF6B9D;
}